<h1 id="welcome-message"></h1>

<h2>Lista de Productos</h2>
<ul>
  {{#each products}}
    <li>{{this.title}} - {{this.price}}</li>
  {{/each}}
</ul>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! 1er: socket }}
<script src="/socket.io/socket.io.js"></script>
{{! 2do: script .js de la carpeta public/cliente }}
<script src="/js/home.js"></script>